# Week 2 Day 3: Classes

- what is a class
- scope

In [ ]:
#functions within a class is called a method
#you have to start with self at the beginning of a class.

#### Methods vs Functions

In [5]:
# make a class with two methods in it
class TestClass():
    def method1():
        print("this is the first method")
    def method2():
        print('this is the second method')

In [21]:
#what is the class?
TestClass

__main__.TestClass

In [17]:
# call the first method within 
TestClass.method1()

this is the first method

In [19]:
# call the second method within 
TestClass.method2()

this is the second method

In [23]:
#create an instance of the class
instance = TestClass()

instance

In [25]:
#call the method within the instance
instance.method1()

TypeError: TestClass.method1() takes 0 positional arguments but 1 was given

#### Class initialization __ init __ and methods

In [27]:
# make a class with a function that intializes a name and age as arguments
# make a method that prints out the name and age of the

#If we want arguements in class we put them in the init
#in the bottom at the self. goes your variables ex: self.name = name
class Student():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def printStudentInfo(self):
        print('Name', self.name, 'Age:', str(self.age))

In [29]:
#create an object/ class instance

student1 = Student('Polly', 20)

In [31]:
# what is this object?
student1

In [33]:
#get the name variable within the object
student1.name

'Polly'

In [35]:
#get the age variable within the object
student1.age

20

In [37]:
# call the method within the class
student1.printStudentInfo()

Name Polly Age: 20

In [73]:
# make a class with name, age, and with a keyword argument of occupation with 'student

class Person():
    def __init__(self, name, age, occupation = 'student'):
        self.name = name
        self.age = age
        self.occupation = occupation

# create a method with to print all of the argumetns
    def postInfo(self):
        print(self.name, self.age, self.occupation)

# create a method that takes in a list of grades and prints the sum of those grades

    def sumOfGrades(self, listOfGrades):
        self.listOfGrades = listOfGrades 
        print(self.name, 'Total Grade is:', sum(listOfGrades))
        
# create a method that prints out  the list of grades
    def getGradeList(self):
        print(self.listOfGrades)

In [75]:
# create an instance
person1 = Person('Steven', 22)

In [67]:
# what is the type of this instance?
person1.postInfo()

Steven 22 student

In [123]:
#List of Grades
person1.sumOfGrades([90,45,86,78])

Patricia Total Grade is: 299

In [126]:
# create another instance of the Person class with other arguments
person1 = Person('Patricia', 19)

person2 = Person('Mikey', 20)

In [128]:
# what is the type of this instance?
type(person1)

__main__.Person

In [130]:
#get the name of the first person
person1.name

'Patricia'

In [132]:
#get the age of the second person
person2.name

'Mikey'

In [134]:
#get the occupation of the second person
person2.occupation

'student'

In [136]:
# call the method that prints out the information for person 1
person1.postInfo()

Patricia 19 student

#### Passing Arguments

In [139]:
#make a third instance 
person3 = Person('Tally', 34, 'Store manager')

In [141]:
# call the method to print information
person3.postInfo()

Tally 34 Store manager

In [147]:
# call the method to get the grades list
person3.sumOfGrades([90,56,87,57])

Tally Total Grade is: 290

In [174]:
# call the method that sums the grades list
person3.getGradeList()

[90, 56, 87, 57]

In [176]:
# call the method taht gets the grades list again

In [178]:
# create a class that assigns two arguments and 
# has a method that prints the arguments
# has a method that has a list of tasks
class DogWash():
    def __init__(self, dog, breed):
        self.dog = dog
        self.breed = breed

    def printDogInfo(self):
        print('Dog Name:', self.dog)
        print('Dog Breed:', self.breed)

    def getTasks(self, taskLyst):
        return(taskLyst)

In [180]:
# assign an instance with a name and an age
dog1 = DogWash('Jasper', 'Mutt(mostly lab)')

In [182]:
#Info
dog1.printDogInfo()

Dog Name: Jasper
Dog Breed: Mutt(mostly lab)

In [194]:
# define the list 
jasperTasks = dog1.getTasks(['cut', 'clip', 'wash', 'dry'])
jasperTasks

['cut', 'clip', 'wash', 'dry']

#### Updating Variables

In [201]:
# updating the name  
dog1.name = 'Charlie'

In [203]:
# update the lyst
dog1.getTasks(['wash', 'dry'])

['wash', 'dry']